:root {
	--color-gray-light: #eee;

	--max-width: 90rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
	margin: 0;
	padding: 0;
}

[data-container] {
	max-width: var(--max-width);
	width: 100%;
}
